.card-deck{
    padding: 20px;
}
.card-title {
    font-size: medium;
    font-weight: bolder;
}
.card-text {
    font-weight: 450;
}

.example-button {
    text-align: center;
    padding-top: 10px;
}
