<!-- <div class="container"> -->
<div class="items">
    <h2>Product Catalogues</h2>
    <div class="card-group active" style="float: left;">
        <div class="card" style="width: 14rem;"><a [routerLink]="['/womens']" target="_blank" >
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/women-wear.jpg" alt="Card image cap"
                    width="220px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Womens Wear</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/men']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/mens-fashion.jpg"
                    alt="Card image cap" width="200px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Mens Wear</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/kids']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/kid2.jpg" alt="Card image cap"
                    width="220px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Kids Wear</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/home-app']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/home-decor.jpg" alt="Card image cap"
                    width="200px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Home Appliances</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/footwear']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/footwear.jpg" alt="Card image cap"
                    width="220px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Footwear</p>
            </div>
        </div>
    </div>
    <div class="card-group" style="float: left;">
        <div class="card" style="width: 14rem;"><a [routerLink]="['/beauty']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/beautycare.jpg" alt="Card image cap"
                    width="220px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Beauty products</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/electric']" target="_blank" href="#">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/Kitchenware.jpg" alt="Card image cap"
                    width="200px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Electrical & Electronics Appliances</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;"><a [routerLink]="['/accessories']" target="_blank">
                <img style="border-radius: 50%;" class="card-img-top" src="/assets/leather sale.jpg" alt="Card image cap"
                    width="200px" height="200px"></a>
            <div class="card-body">
                <p class="card-text">Accessories</p>
            </div>
        </div>
    </div>
</div>
