.items{
    padding: 40px;
    padding-bottom: 46%;
}
.card-group {
    float: left;
}
.card-group .card {
    padding: 10px 16px;
    background-color: rgb(217, 229, 240);
    border-style: none;
}
.card-group .card .card-text{
    text-align: center;
    font-weight: 450;
    font-style: italic;
    font-size: medium;
}