<div class="product_s">
<form class="form-inline my-2 my-lg-0" (ngSubmit)="doSubmit()">
     <input class="form-control mr-sm-2" matInput [(ngModel)]="search" name="search" placeholder="search items">&nbsp;
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
  <div class="card-deck">
    <div class="card" *ngFor="let item of data">
      <img class="card-img-top" src={{item.image}} alt={{item.id}} height="60%">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text">Price: Rs {{item.price}}</p>
        <section>
          <div class="example-button">
            <button mat-flat-button color="primary" routerLink="/cart" (click)="addCart(item)">Add to Cart</button>
          </div>
        </section>
      </div>
    </div>