<!-- <p>
    <mat-toolbar>
    <span>E-Commerce Website</span>
    </mat-toolbar>
</p> -->
<div>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> -->
      <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #929fba">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">E-Commerce Website</a>
          <ul class="navbar-nav mr-auto mt-4 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="login" routerLinkActive="active-link" role="button">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="signup" routerLinkActive="active-link" href="#" role="button">Sign Up</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="items-catalogue" routerLinkActive="active-link" href="#" role="button">Categories</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="cart" routerLinkActive="active-link" href="#" role="button">Cart</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
     
            <button class="btn btn-outline-dark my-2 my-sm-0" routerLink="/search">Search</button>
          </form>
        </div>
      </nav>
    </div> 
